
/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #688662;
  color: green ;
  line-height: 1.6;
}

header {
  background-color: #688662;
  color: #ffffcc;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

nav a {
  color: #ffffcc;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 30px 20px;
  max-width: 1000px;
  margin: auto;
  background-color: #ffffcc;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

h2 {
  color: #004d40;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #688662;
  color: white;
  margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav a {
    margin: 5px;
  }

  section {
    padding: 20px 10px;
  }
}
img {
      width: 250px;
      height: 150px;
      object-fit: cover;
      align-items: center;
        }

